.wrapper {
    max-height: 100%; 
    max-width: 100%;  
    height: 100%;
    width: 100%;
    float: left;
    display: flex; 
    
    text-align: center;
    background-color: black;
    align-items: center;
    justify-content: center;
  
    background-color: black;
    font-size: calc(10px + 2vmin);
    color: white;  
    
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    overflow: auto;
}
.game-logo{
    max-width: 25%;
    pointer-events: none;
    border-style: solid;
    border-color: black;
}
.instructions {
    color: #91b2c7;
    font-size: calc(5px + 2vmin);
}
.game-wrap {
    display: flex;
    flex-direction: column;
    margin: auto;
}


/* Game Section of the Random Page */
.matchup{
    width: 50%;
    padding-top:2.5%;
    padding-bottom:2.5%;
}
.game-seed,.game-seed-false{
    display: grid;
    grid-template-columns: 15% 75%;
    width: 100%;
}
.game-seed-true{
    display: grid;
    grid-template-columns: 15% 75%;
    width: 100%;
    background-color:#91b2c7;
    border-radius: 10px;
}
.game-seed:hover, .game-seed-false:hover{
    background-color: #91b2c7;
    background: #91b2c7;
    border-radius: 10px;
}
.seed-label{
    color:#91b2c7;
}
.seed-descr{
    color:white;
    text-align: left;
}