/** Heading Section **/
.wrapper {
    max-height: 100vh; 
    max-width: 100%;  
    height: 100vh;
    width: 100%;
    float: left;
    display: flex; 
    
    text-align: center;
    background-color: black;
    align-items: center;
    justify-content: center;
  
    background-color: black;
    font-size: calc(10px + 2vmin);
    color: white;  
    
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    overflow: auto;
}
.game-header{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 50vh;
    font-size: 125%;
}
.title-text{
    margin-bottom:2.5%;
    padding-top:2.5%;
}
.game-logo{
    margin: auto;
    border-style: solid;
    border-color: black;
    max-width: 35%;
}
.instructions {
    color: #91b2c7;
    font-size: 150%;
    margin-bottom:2.5%;
    margin-top:2.5%;
}
.nominee-title{
    font-size: 150%;
    padding-bottom: 0;
}


/** Game Interface **/
.game-outer-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 50vh;
    z-index: 1;
}
/*Round 1 */
.game-wrap-false, .game-wrap-true {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 33%;
    padding-right: 25%;
    height: 50vh;
    z-index: 1;
}
/** Round Two **/
.game-wrap-3-true{
    width: 0px;
    overflow: hidden;
    z-index: 1;
}
.game-wrap-2-false, .game-wrap-3-false,.game-wrap-2-true{
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;align-items: center;
    height: 50vh;
    min-width: 33%;
    padding-right: 25%;
    z-index: 1;
}

/* Actual Game Cards */
.matchup{
    width: 100%;
    padding-top:2.5%;
    padding-bottom:2.5%;
}
.game-seed,.game-seed-false{
    display: grid;
    grid-template-columns: 15% 75%;
    width: 100%;
}
.game-seed-true{
    display: grid;
    grid-template-columns: 15% 75%;
    width: 100%;
    background-color:#91b2c7;
    border-radius: 10px;
}
.game-seed:hover, .game-seed-false:hover{
    background-color: #91b2c7;
    background: #91b2c7;
    border-radius: 10px;
}
.seed-label{
    color:#91b2c7;
}
.seed-descr{
    color:white;
    text-align: left;
}

/************************/
/*** Mobile Views ***/
/************************/
@media screen and (max-device-width: 787px) {
    .game-header{
        height: 40vh;
    }
    .game-out-wrap{
        height: 60vh;
    }
    .game-wrap-false{
        width: 100vw;
    }
    .game-wrap-true {
        z-index: -2;
        width: 0;
        overflow: hidden;
    }
    .game-wrap-2-false{
        width: 100vw;
        z-index: 3;
    }
    .game-wrap-2-true{
        z-index: -2;
        width: 0;
        overflow: hidden;
    }
    .game-wrap-3-false{
        width: 100%;
        width: 100vw;
        z-index: 3;
    }
}