.create-form {
    text-align: center;
    background-color: black;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 100%; 
    float: left;
    width: 100%;
  }
  
  