.Menu {
  height: 100%; 
    width: 100%;  
    float: left;
    display: flex; 
  
    text-align: center;
    background-color: black;
    align-items: center;
    justify-content: center;

  background-color: black;
  font-size: calc(10px + 2vmin);
  color: white;  
  
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

.Menu-logo {
  height: 20%;
  max-width: 50%;
  pointer-events: none;
  border-style: solid;
  border-color: black;
}

#mt1 {
  font-weight: bold;
  text-decoration: underline solid white;
}

#mt2 {
  padding-bottom: 5%;;
}

.Menu-button {
  display: block;
  margin:0 auto;
  margin-top: 5%;

  background-color: black;
  color: white;
  min-width: auto;
  width: 33%;
  max-width: 33%;
}