.form-container {
    height: 100%; 
    width: 100%;  
    float: left;
    display: flex; 
  
    text-align: center;
    background-color: black;
    align-items: center;
    justify-content: center;
    
    font-size: calc(10px + 2vmin);
    color: white;
  }


.menu-logo {
  max-height: 20%;
  max-width: 50%;
  width: 25%;

  pointer-events: none;
  border-style: solid;
  border-color: black;
}

.form-submit {
  display: block;
    margin:0 auto;
    margin-top: 3%;
    padding-top: .5%;
    padding-bottom: 1%;
    overflow: scroll;
    max-width: 10%;

    background-color: darkslategrey;
    color: white;
    font-weight: 500;
    font-size: medium;
    text-decoration: none;
    opacity: 50%;
    
}