.form-container {
    height: 100%; 
    width: 100%;  
    float: left;
    display: flex; 
  
    text-align: center;
    background-color: black;
    align-items: center;
    justify-content: center;
    
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
.title-text {
  font-weight: bold;
  text-decoration: underline solid white;
  color: white;
}

.menu-logo {
  max-height: 20%;
  max-width: 50%;
  width: 25%;

  pointer-events: none;
  border-style: solid;
  border-color: black;
}