.choose-game-list {
    display: block;
    margin:0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    
    background-color: black;
    color: white;
    min-width: auto;
    width: 70%;
    max-width: 70%;
    font-weight: 100;
    overflow: scroll;
}

.choose-game-category-title {
    margin: 20px; 
    list-style: none;
    border-style:outset;
    border-width: .05em;
    color: white;
    text-decoration: none;
    
}
