.choose-game, .choose-center{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.choose-title-text{
    font-weight: bold;
    text-decoration: underline solid black;
    font-size: 250%;
    color: white;
}
.choose-logo{
    width: 15%;
}
.choose-game-list {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    height: 100%;
    margin-top: 2.5%;
    padding: 0;
    background-color: black;
    color: white;
    min-width: auto;
    width: 25%;
    text-align: center;
    font-weight: 100;
    overflow: scroll;
}

.choose-game-category-title {
    list-style: none;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    border: 1px rgb(82, 52, 13) solid;
    width: 98%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-size: 125%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.choose-game-category-title:hover{
    background-color: cadetblue;
    font-weight: 800;
}