
html, body, #root {
  margin: auto 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app  {
  display: inline-block;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.app-menu {
  width: 33%;
  height: 100%;
  float: left;
}

.app-body {
  width: 67%;
  height: 100%;
  float: left;
}